<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    body {
      background: #000;
      color: #fff;
    }
    .image-scan {
      text-align: center; /* 预览图片的居中 */
    }
    .image-show /*图片的显示*/{
      width: 160px;
      height: 200px;
      display: inline-block;
      border: 1px solid rgba(56, 178, 255, 1);
      box-shadow: 0 0 20px rgba(56, 173, 255, 1);
      margin: 30px 0;
    }
    .select {
      font-family: 'simsun'
    }
  </style>
</head>
<body>
  <div class="image-scan">
    <label for="image">
        <img src="../../assets/111.png" alt="" class="image-show"> 
        <input type="file" name="image" id="image" accept="image" hidden="hidden">
    </label>
    <div>点击图片框预览本地图片</div>

    <select name="" id="" class="select">
      <option value="1">啦啦啦bsafas</option>
      <option value="2">啦啦啦</option>
      <option value="3">abcdefg</option>
    </select>
  </div>
  <script>
    window.onload = function() {
      var inputImage = document.querySelector('#image')
      var scanImg = document.querySelector('.image-show')
      inputImage.addEventListener('change', function(){
        // new一个实例
        var reader = new FileReader()
        console.log(inputImage.files)
        // 通过reader发起异步请求 读取文件内容
        reader.readAsBinaryString(inputImage.files[0]) // 这里可以换成base64的
        // 相当于FileReader的四个周期之一，后面我们详细介绍
        reader.onload = function() {
          console.log(this.result, '返回的图片的内容，二进制')
          scanImg.src = this.result // 赋值给img的src属性
        }
      })
    }
  </script>
</body>
</html>